<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-06.png);">
      </div>
    </div>
    <div class="col-sm-6 px-0 auth-form-section">
      <div class="form-section">
        <div class="sign-up-wrapper">
          <h6 class="welcome-msg" i18n="@@signUpLabel">{{ 'SIGN_UP.SIGN_UP' | translate }}</h6>
          <p class="auth-signup-text text-muted" i18n="signUpDetails">{{ 'SIGN_UP.ENTER_DETAILS' | translate }}</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">

            <div class="row">
              <!-- First Surname -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.FIRST_SURNAME' | translate }}</mat-label>
                  <input matInput formControlName="firstSurname" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>badge</mat-icon>
                  <mat-error *ngIf="authForm.get('firstSurname')?.hasError('required') && authForm.get('firstSurname')?.touched">
                    {{ 'SIGN_UP.FIRST_SURNAME_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Second Surname -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.SECOND_SURNAME' | translate }}</mat-label>
                  <input matInput formControlName="secondSurname" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>badge</mat-icon>
                  <mat-error *ngIf="authForm.get('secondSurname')?.hasError('required') && authForm.get('secondSurname')?.touched">
                    {{ 'SIGN_UP.SECOND_SURNAME_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- First Name -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.FIRST_NAME' | translate }}</mat-label>
                  <input matInput formControlName="firstName" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>badge</mat-icon>
                  <mat-error *ngIf="authForm.get('firstName')?.hasError('required') && authForm.get('firstName')?.touched">
                    {{ 'SIGN_UP.FIRST_NAME_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Middle Name -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.MIDDLE_NAME' | translate }}</mat-label>
                  <input matInput formControlName="middleName">
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>badge</mat-icon>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Document Identity -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.DOCUMENT_IDENTITY' | translate }}</mat-label>
                  <input matInput formControlName="documentIdentity" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>card_membership</mat-icon>
                  <mat-error *ngIf="authForm.get('documentIdentity')?.hasError('required') && authForm.get('documentIdentity')?.touched">
                    {{ 'SIGN_UP.DOCUMENT_IDENTITY_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Gender -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.GENDER' | translate }}</mat-label>
                  <mat-select formControlName="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                      {{ gender.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
                  <mat-error *ngIf="authForm.get('gender')?.hasError('required')">
                    {{ 'SIGN_UP.GENDER_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Cell Phone -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.CELL_PHONE' | translate }}</mat-label>
                  <input matInput formControlName="cellPhone" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>phone_iphone</mat-icon>
                  <mat-error *ngIf="authForm.get('cellPhone')?.hasError('required') && authForm.get('cellPhone')?.touched">
                    {{ 'SIGN_UP.CELL_PHONE_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Home Phone -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.HOME_PHONE' | translate }}</mat-label>
                  <input matInput formControlName="homePhone" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>phone</mat-icon>
                  <mat-error *ngIf="authForm.get('homePhone')?.hasError('required') && authForm.get('homePhone')?.touched">
                    {{ 'SIGN_UP.HOME_PHONE_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Address -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.ADDRESS' | translate }}</mat-label>
                  <input matInput formControlName="address" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>location_on</mat-icon>
                  <mat-error *ngIf="authForm.get('address')?.hasError('required') && authForm.get('address')?.touched">
                    {{ 'SIGN_UP.ADDRESS_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Ubigeo Department -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.DEPARTMENT' | translate }}</mat-label>
                  <mat-select formControlName="ubigeoDepartmentId" required>
                    <mat-option *ngFor="let department of departments" [value]="department.id">
                      {{ department.name }}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>map</mat-icon>
                  <mat-error *ngIf="authForm.get('ubigeoDepartmentId')?.hasError('required')">
                    {{ 'SIGN_UP.DEPARTMENT_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Ubigeo Province -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.PROVINCE' | translate }}</mat-label>
                  <mat-select formControlName="ubigeoProvinceId" required>
                    <mat-option *ngFor="let province of provinces" [value]="province.id">
                      {{ province.name }}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>map</mat-icon>
                  <mat-error *ngIf="authForm.get('ubigeoProvinceId')?.hasError('required')">
                    {{ 'SIGN_UP.PROVINCE_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Ubigeo District -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.DISTRICT' | translate }}</mat-label>
                  <mat-select formControlName="ubigeoDistrictId" required>
                    <mat-option *ngFor="let district of districts" [value]="district.id">
                      {{ district.name }}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>map</mat-icon>
                  <mat-error *ngIf="authForm.get('ubigeoDistrictId')?.hasError('required')">
                    {{ 'SIGN_UP.DISTRICT_IS_REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div> 

            <div class="row">
              <!-- Email -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.EMAIL' | translate }}</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>mail</mat-icon>
                  @if (authForm.get('email')!.hasError('required') || authForm.get('email')!.touched) {
                  <mat-error>
                    {{ 'SIGN_UP.PLEASE_ENTER_A_VALID_EMAIL_ADDRESS' | translate }}
                  </mat-error>
                  }
                </mat-form-field>
              </div>
              <!-- Username -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.USERNAME' | translate }}</mat-label>
                  <input matInput formControlName="username" required>
                  <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
                  @if (authForm.get('username')!.hasError('required')) {
                  <mat-error>
                    {{ 'SIGN_UP.USERNAME_IS_REQUIRED' | translate }}
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Password -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.PASSWORD' | translate }}</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  @if (authForm.get('password')!.hasError('required')) {
                  <mat-error>
                    {{ 'SIGN_UP.PASSWORD_IS_REQUIRED' | translate }}
                  </mat-error>
                  }
                </mat-form-field>
              </div>
              <!-- Confirm Password -->
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{ 'SIGN_UP.CONFIRM_PASSWORD' | translate }}</mat-label>
                  <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required>
                  <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="chide = !chide">
                    {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  @if (authForm.get('cpassword')!.hasError('required')) {
                  <mat-error>
                    {{ 'SIGN_UP.CONFIRM_PASSWORD_IS_REQUIRED' | translate }}
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="flex-sb-m w-full  p-b-20">
              <div>
                <span>{{ 'SIGN_UP.ALREADY_REGISTERED' | translate }} <a routerLink="/authentication/signin">
                  {{ 'SIGN_UP.LOGIN' | translate }}
                  </a></span>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button mat-flat-button color="accent" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                {{ 'SIGN_UP.REGISTER' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>